// Colors
$white: #ffffff;
$grey: #333333;
$black: #000000;

$light-white: #f9f9f9;

// Body
$body-default-color: $black;
$body-default-font-family: Raleway, Helvetica, Arial, sans-serif;

// Site
$site-max-width: 80rem;

// Spacing
$space: 1.4rem;
$large-space: 2.8rem;
$site-max-width: 80rem;

// Font sizes
$base-font-size: 2.4rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

$page-background: #f9f9f9;
